name: Build Windows

on:
  push:
    branches: [ "main", "master", "develop" ]
  pull_request:
    branches: [ "main", "master", "develop" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run Build Script
      shell: cmd
      run: |
        call Project_Source\build.bat

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows-plugins
        path: |
          Project_Source/build/**/*.vst3
          Project_Source/build/**/*.dll
        if-no-files-found: error
